body {
  text-align: center;
  font-family: 'Spectral';
  font-size: 20px;
  color: black;
}

label {
  font-size: 22px;
}

.Yer {
  font-family: 'Indie Flower';
  font-size: 30px;
}

h1 {
}


#output {
  border-style: solid;
  border-color: black;
  border-width: medium;
}
